[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-shell-plus = "*"
ipython = "*"
django-extensions = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
django-jalali-date = "*"
django-widget-tweaks = "*"
django-rest-framework = "*"
gunicorn = "*"
django-heroku = "*"
pillow = "*"
django-imagekit = "*"
django-quill-editor = "*"
tzdata = "*"
celery = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.9"
