{% extends 'perry/base/base.html' %}

{% block body %}
    {% include 'perry/components/landings/header.html' %}
    {% include 'perry/components/landings/banner_big.html' %}
    {% include 'perry/components/landings/banner.html' %}
    {% include 'perry/components/landings/reminder.html' %}
    {% include 'perry/components/landings/blog.html' %}
    {% include 'perry/components/landings/company.html' %}
    {% include 'perry/components/landings/company_alt.html' %}
    {% include 'perry/components/landings/counter.html' %}
    {% include 'perry/components/landings/faq_full.html' %}
    {% include 'perry/components/landings/faq_full_alt.html' %}
    {% include 'perry/components/landings/feature_with_header.html' %}
    {% include 'perry/components/landings/feature.html' %}
    {% include 'perry/components/landings/hero_slider.html' %}
    {% include 'perry/components/landings/partners_full.html' %}
    {% include 'perry/components/landings/partners_full_alt.html' %}
    {% include 'perry/components/landings/partners_box.html' %}
    {% include 'perry/components/landings/quote_full.html' %}
    {% include 'perry/components/landings/quote_full_alt.html' %}
    {% include 'perry/components/landings/quote_box.html' %}
    {% include 'perry/components/landings/services_icon.html' %}
    {% include 'perry/components/landings/services_image.html' %}
    {% include 'perry/components/landings/team.html' %}
    {% include 'perry/components/landings/testimonials_full.html' %}
    {% include 'perry/components/landings/testimonials_full_alt.html' %}
    {% include 'perry/components/landings/testimonials_box.html' %}
    {% include 'perry/components/landings/welcome.html' %}
    {% include 'perry/components/landings/why_chose_us_full.html' %}
    {% include 'perry/components/landings/why_chose_us_full_alt.html' %}
    {% include 'perry/components/landings/why_chose_us_box.html' %}
    {% include 'perry/components/landings/footer.html' %}
    {% include 'perry/components/landings/copyright.html' %}

    {% include 'perry/components/modals/login.html' %}
    {% include 'perry/components/modals/register.html' %}

{% endblock body %}
