{% load static %}

<!doctype html>
<html lang="fa" dir="rtl">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Perry - Insurance Company HTML Template">
    <meta name="description" content="Perry - Insurance Company HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="{% static 'perry/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/nice-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'perry/css/rtl.css' %}">
    <link rel="icon" type="image/png" href="{% static 'perry/img/favicon.png' %}">
    <!-- iziToast -->
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}">
    <script type="text/javascript" src="{% static 'js/iziToast.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/iziToast.js' %}"></script> 

    <title>Perry - قالب HTML پری , پوسته سایت شرکتی بیمه</title>
    {% block extrahead %}    {% endblock extrahead %}    
	</head>
	<body>
        
        <div id="generalLoader">
            <span class="spinner"></span>
            <div class="message"></div>
        </div>

    <div class="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

		{% block body %}
		{% endblock body %}

    <div class="go-top">
        <i class="bx bx-chevrons-up"></i>
        <i class="bx bx-chevrons-up"></i>
    </div>

    <script src="{% static 'perry/js/jquery.min.js' %}"></script>
    <script src="{% static 'perry/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'perry/js/meanmenu.min.js' %}"></script>
    <script src="{% static 'perry/js/wow.min.js' %}"></script>
    <script src="{% static 'perry/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'perry/js/carousel-thumbs.min.js' %}"></script>
    <script src="{% static 'perry/js/nice-select.min.js' %}"></script>
    <script src="{% static 'perry/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'perry/js/jarallax.min.js' %}"></script>
    <script src="{% static 'perry/js/appear.min.js' %}"></script>
    <script src="{% static 'perry/js/odometer.min.js' %}"></script>
    <script src="{% static 'perry/js/smoothscroll.min.js' %}"></script>
    <script src="{% static 'perry/js/form-validator.min.js' %}"></script>
    <script src="{% static 'perry/js/contact-form-script.js' %}"></script>
    <script src="{% static 'perry/js/ajaxchimp.min.js' %}"></script>
    <script src="{% static 'perry/js/custom.js' %}"></script>

    <script>
        {% for message in messages %}
            iziToast.show({
            message: '{{message.message}}',
            color: TOAST_LEVEL_TAGS['{{message.level}}'],
            backgroundColor: TOAST_LEVEL_BGS['{{message.level}}'],
            messageColor: TOAST_LEVEL_FGS['{{message.level}}'],
            icon: TOAST_LEVEL_ICONS['{{message.level}}'],
            iconColor: TOAST_LEVEL_FGS['{{message.level}}'],
            });
        {% endfor %}
    </script>
	</body>
</html>