
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
                <div class="modal-body">
                    <div class="container">
                        <div class="contact-form-action">
                            <div class="account-title">
                                <h2>وارد حساب کاربری خود شوید</h2>
                            </div>
                            <form method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>ایمیل یا تلفن</label>
                                            <input class="form-control" type="text" name="name">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>گذرواژه</label>
                                            <input class="form-control" type="password" name="password">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="login-action">
                                            <span class="log-rem">
                                                <input id="remember" type="checkbox">
                                                <label for="remember">مرا بخاطر بسپار!</label>
                                            </span>
                                            <span class="forgot-login">
                                                <a href="recover-password.html">بازیابی گذرواژه؟</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="default-btn" type="submit">
                                            ورود کاربران
                                        </button>
                                    </div>
                                    <div class="col-12">
                                        <p>حساب کاربری نداری؟ <a href="register.html">ثبت نام کنید!</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>