<div class="modal fade" id="staticBackdrop-2" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <i class="bx bx-x"></i>
            </button>
            <div class="modal-body">
                <div class="container">
                    <div class="contact-form-action">
                        <div class="account-title">
                            <h2>حساب خود را ثبت کنید</h2>
                        </div>
                        <form method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>نام و نام خانوادگی</label>
                                        <input class="form-control" type="text" name="name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>آدرس ایمیل</label>
                                        <input class="form-control" type="email" name="email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>شماره موبایل.</label>
                                        <input class="form-control" type="text" name="Number">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>گذرواژه</label>
                                        <input class="form-control" type="text" name="password">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="show">
                                        <input id="remember-1" type="checkbox">
                                        <label>مشاهده گذرواژه؟</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="default-btn register" type="submit">
                                        ثبت نام کنید
                                    </button>
                                </div>
                                <div class="col-12">
                                    <p>حساب کاربری داری؟ <a href="log-in.html">وارد شوید!</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>