{% load static %}

    <section class="banner-area jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="banner-content">
                                <span class="wow fadeInDown" data-wow-delay="1s">هدف اصلی ما</span>
                                <h1 class="wow fadeInDown" data-wow-delay="1s">ایجاد عادت های پس انداز در بین مردم</h1>
                                <p class="wow fadeInLeft" data-wow-delay="1s">لورم ایپسوم ساختار چاپ و متن را در بر می
                                    گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می
                                    گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می
                                    گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                <div class="banner-btn wow fadeInUp" data-wow-delay="1s">
                                    <a href="contact-us.html" class="default-btn">
                                        تماس با ما
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="banner-img">
                                <img src="{% static 'perry/img/banner/banner-img-1.jpg' %}" alt="Image">
                                <div class="banner-shape-1">
                                    <img src="{% static 'perry/img/banner/banner-shape-1.png' %}" alt="Image">
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" target="_blank">
                                            فیسبوک
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            اینستاگرام
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            توئیتر
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            لینکدین
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

