<section class="company-area bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="company-img">
                    <div class="trusted">
                        <span>٪100</span>
                        <h3>شرکت مورد اعتماد</h3>
                        <p>شما می توانید برای خدمات شرکت ما به ما وابسته باشید</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="company-content ptb-100">
                    <span class="top-title">به بیمسنج خوش آمدید</span>
                    <h2>از 25 سال پیش ، شرکت ما بسیار صادقانه کار کرده است</h2>
                    <p class="some-bold">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                        است.</p>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم
                        ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                    <a href="about-us.html" class="default-btn">
                        ادامه خواندن
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
