{% load static %}

<section class="company-area company-area-three mt-100">
    <div class="container">
        <div class="section-title">
            <span> به بیمسنج خوش آمدید </span>
            <h2>از 25 سال پیش ، شرکت ما بسیار صادقانه در کنار شما کار کرده است</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="company-img-three">
                    <img src="{% static 'perry/img/company-img-three.png' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="company-content pt-70 pb-100">
                    <h2>هدف ما ارائه خدمات با کیفیت به مشتریان است</h2>
                    <p class="some-bold">لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده
                        است.</p>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم
                        ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                    <a href="about-us.html" class="default-btn">
                        ادامه خواندن
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
