<section class="faq-area bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="faq-img">
                    <div class="faq-video">
                        <a href="https://www.youtube.com/watch?v=6TlMflQEpt8" class="popup-youtube">
                            <div class="video-button">
                                <i class="bx bx-play"></i>
                            </div>
                            <span>فیلم شرکت ما را مشاهده کنید</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-content ptb-100">
                    <span class="top-title">سوالات متداول کاربران ما</span>
                    <h2>می توانید از پاسخ سوالات ما چیزهای زیادی بیاموزید</h2>
                    <div class="faq-accordion mb-used">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)">
                                    <i class="bx bx-plus"></i>
                                    بیمه نامه درمانی چیست؟
                                </a>
                                <div class="accordion-content show">
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                                        استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-plus"></i>
                                    منظور شما از مدیریت ریسک چیست؟
                                </a>
                                <div class="accordion-content">
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                                        استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-plus"></i>
                                    آیا به بیمه نامه عمر احتیاج دارم؟
                                </a>
                                <div class="accordion-content">
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                                        استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-plus"></i>
                                    آیا می توانم انتخاب کنم که بیمه تجارت نگیرم؟
                                </a>
                                <div class="accordion-content">
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                                        استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-plus"></i>
                                    چگونه بدانم چه کسری در سیاست من اعمال می شود؟
                                </a>
                                <div class="accordion-content">
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                                        استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    <i class="bx bx-plus"></i>
                                    پوشش چتر با مسئولیت شخصی چیست؟
                                </a>
                                <div class="accordion-content">
                                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت
                                        بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم
                                        استاندارد صنعت بوده است. لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم
                                        ایپسوم استاندارد صنعت بوده است.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
