{% load static %}

<section class="featured-services-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>خدمات ویژه</span>
            <h2>کلیه خدماتی که شرکت ما ارائه می دهد</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="featured-services-box">
                    <a href="services-details.html">
                        <img src="{% static 'perry/img/services/services-1.jpg' %}" alt="Image">
                    </a>
                    <div class="featured-services-title">
                        <i class="flaticon-life-insurance-1"></i>
                        <h3>
                            <a href="services-details.html">
                                بیمه عمر
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="featured-services-box">
                    <a href="services-details.html">
                        <img src="{% static 'perry/img/services/services-2.jpg' %}" alt="Image">
                    </a>
                    <div class="featured-services-title">
                        <i class="flaticon-home-insurance"></i>
                        <h3>
                            <a href="services-details.html">
                                بیمه خانه
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="featured-services-box">
                    <a href="services-details.html">
                        <img src="{% static 'perry/img/services/services-3.jpg' %}" alt="Image">
                    </a>
                    <div class="featured-services-title">
                        <i class="flaticon-insurance"></i>
                        <h3>
                            <a href="services-details.html">
                                بیمه تجارت
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="featured-services-box">
                    <a href="services-details.html">
                        <img src="{% static 'perry/img/services/services-4.jpg' %}" alt="Image">
                    </a>
                    <div class="featured-services-title">
                        <i class="flaticon-property-insurance"></i>
                        <h3>
                            <a href="services-details.html">
                                بیمه املاک
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="featured-services-box">
                    <a href="services-details.html">
                        <img src="{% static 'perry/img/services/services-5.jpg' %}" alt="Image">
                    </a>
                    <div class="featured-services-title">
                        <i class="flaticon-travel-insurance"></i>
                        <h3>
                            <a href="services-details.html">
                                بیمه سفر
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="featured-services-box">
                    <a href="services-details.html">
                        <img src="{% static 'perry/img/services/services-6.jpg' %}" alt="Image">
                    </a>
                    <div class="featured-services-title">
                        <i class="flaticon-car-insurance"></i>
                        <h3>
                            <a href="services-details.html">
                                بیمه اتومبیل
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
