<section class="hero-slider-area">
    <div class="hero-slider owl-theme owl-carousel" data-slider-id="1">
        <div class="hero-slider-item bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="hero-slider-content">
                            <span class="top-title">هدف اصلی ما</span>
                            <h1>زندگی خود را به روشی آسان و امن با شرکت ما بیمه کنید</h1>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                                لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                            </p>
                            <div class="slider-btn">
                                <a href="contact-us.html" class="default-btn">
                                    تماس بگیرید
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item bg-2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="hero-slider-content">
                            <span class="top-title">هدف اصلی ما</span>
                            <h1>زندگی خود را به روشی آسان و امن با شرکت ما بیمه کنید</h1>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                                لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                            </p>
                            <div class="slider-btn">
                                <a href="contact-us.html" class="default-btn">
                                    تماس بگیرید
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item bg-3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="hero-slider-content">
                            <span class="top-title">هدف اصلی ما</span>
                            <h1>زندگی خود را به روشی آسان و امن با شرکت ما بیمه کنید</h1>
                            <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                                لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.
                            </p>
                            <div class="slider-btn">
                                <a href="contact-us.html" class="default-btn">
                                    تماس بگیرید
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="thumbs-wrap">
        <div class="owl-thumbs hero-slider-thumb" data-slider-id="1">
            <div class="owl-thumb-item">
                <span>01</span>
            </div>
            <div class="owl-thumb-item">
                <span>02</span>
            </div>
            <div class="owl-thumb-item">
                <span>03</span>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="#" target="_blank">
                فیسبوک
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                اینستاگرام
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                توئیتر
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                لینکدین
            </a>
        </li>
    </ul>
</section>
