{% load static %}

<div class="partner-area partner-area-three ptb-70">
    <div class="container">
        <div class="row">
            <div class="partner-slider owl-carousel owl-theme">
                <div class="partner-item">
                    <a href="#">
                        <img src="{% static 'perry/img/white-partner/partner-1.png' %}" alt="Image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="{% static 'perry/img/white-partner/partner-2.png' %}" alt="Image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="{% static 'perry/img/white-partner/partner-3.png' %}" alt="Image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="{% static 'perry/img/white-partner/partner-4.png' %}" alt="Image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="{% static 'perry/img/white-partner/partner-5.png' %}" alt="Image">
                    </a>
                </div>
                <div class="partner-item">
                    <a href="#">
                        <img src="{% static 'perry/img/white-partner/partner-6.png' %}" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
