{% load static %}

<section class="get-quote-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>دریافت قیمت</span>
            <h2>قیمت بیمه دریافت کنید</h2>
        </div>
        <div class="tab get-quote-tab">
            <ul class="tabs">
                <li>
                    بیمه عمر
                </li>
                <li>
                    بیمه خانه
                </li>
                <li>
                    بیمه اتومبیل
                </li>
                <li>
                    بیمه سفر
                </li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <form class="get-quote-form">
                        <div class="we-area-title">
                            <h3>نقل از بیمه عمر</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="all-skill-bar">
                                    <div class="skill-bar" data-percentage="25%">
                                        <h4 class="progress-title-holder">
                                            <span class="progress-title">مرخصی حفاظت:</span>
                                            <span class="usd">180000 تومان</span>
                                            <span class="progress-number-wrapper">
                                                <span class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </span>
                                            </span>
                                        </h4>
                                        <div class="progress-content-outter">
                                            <div class="progress-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات شخصی:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">وضعیت شغلی</option>
                                        <option value="2">خدمات مردانه</option>
                                        <option value="3">مدیریت</option>
                                        <option value="4">گیرنده</option>
                                        <option value="5">کلاین</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">سن شما</option>
                                        <option value="2">29</option>
                                        <option value="3">18</option>
                                        <option value="4">22</option>
                                        <option value="5">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات تماس:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="First-Name-1" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email-1" placeholder="ایمیل">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Number-1" placeholder="تلفن تماس">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="submit" class="default-btn">
                                    دریافت قیمت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tabs_item">
                    <form class="get-quote-form">
                        <div class="we-area-title">
                            <h3>نقل از بیمه خانه</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="all-skill-bar">
                                    <div class="skill-bar" data-percentage="50%">
                                        <h4 class="progress-title-holder">
                                            <span class="progress-title">مرخصی حفاظت:</span>
                                            <span class="usd">180000 تومان</span>
                                            <span class="progress-number-wrapper">
                                                <span class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </span>
                                            </span>
                                        </h4>
                                        <div class="progress-content-outter">
                                            <div class="progress-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات شخصی:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">وضعیت شغلی</option>
                                        <option value="2">خدمات مردانه</option>
                                        <option value="3">مدیریت</option>
                                        <option value="4">گیرنده</option>
                                        <option value="5">کلاین</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">سن شما</option>
                                        <option value="2">29</option>
                                        <option value="3">18</option>
                                        <option value="4">22</option>
                                        <option value="5">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات تماس:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="First-Name-1" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email-1" placeholder="ایمیل">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Number-1" placeholder="تلفن تماس">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="submit" class="default-btn">
                                    دریافت قیمت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tabs_item">
                    <form class="get-quote-form">
                        <div class="we-area-title">
                            <h3>نقل از بیمه اتومبیل</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="all-skill-bar">
                                    <div class="skill-bar" data-percentage="75%">
                                        <h4 class="progress-title-holder">
                                            <span class="progress-title">مرخصی حفاظت:</span>
                                            <span class="usd">180000 تومان</span>
                                            <span class="progress-number-wrapper">
                                                <span class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </span>
                                            </span>
                                        </h4>
                                        <div class="progress-content-outter">
                                            <div class="progress-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات شخصی:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">وضعیت شغلی</option>
                                        <option value="2">خدمات مردانه</option>
                                        <option value="3">مدیریت</option>
                                        <option value="4">گیرنده</option>
                                        <option value="5">کلاین</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">سن شما</option>
                                        <option value="2">29</option>
                                        <option value="3">18</option>
                                        <option value="4">22</option>
                                        <option value="5">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات تماس:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="First-Name-1" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email-1" placeholder="ایمیل">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Number-1" placeholder="تلفن تماس">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="submit" class="default-btn">
                                    دریافت قیمت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tabs_item">
                    <form class="get-quote-form">
                        <div class="we-area-title">
                            <h3>نقل از بیمه سفر</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="all-skill-bar">
                                    <div class="skill-bar" data-percentage="100%">
                                        <h4 class="progress-title-holder">
                                            <span class="progress-title">مرخصی حفاظت:</span>
                                            <span class="usd">180000 تومان</span>
                                            <span class="progress-number-wrapper">
                                                <span class="progress-number-mark">
                                                    <span class="percent"></span>
                                                    <span class="down-arrow"></span>
                                                </span>
                                            </span>
                                        </h4>
                                        <div class="progress-content-outter">
                                            <div class="progress-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات شخصی:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">وضعیت شغلی</option>
                                        <option value="2">خدمات مردانه</option>
                                        <option value="3">مدیریت</option>
                                        <option value="4">گیرنده</option>
                                        <option value="5">کلاین</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <select>
                                        <option value="1">سن شما</option>
                                        <option value="2">29</option>
                                        <option value="3">18</option>
                                        <option value="4">22</option>
                                        <option value="5">30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span class="from-title">اطلاعات تماس:</span>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="First-Name-1" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Email-1" placeholder="ایمیل">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Number-1" placeholder="تلفن تماس">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button type="submit" class="default-btn">
                                    دریافت قیمت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
