<section class="services-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>خدمات ویژه</span>
            <h2>کلیه خدماتی که شرکت ما ارائه می دهد</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <i class="flaticon-life-insurance-1"></i>
                    <h3>بیمه عمر</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                    <a href="services-details.html" class="read-more">
                        ادامه خواندن
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <i class="flaticon-home-insurance"></i>
                    <h3>بیمه خانه</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                    <a href="services-details.html" class="read-more">
                        ادامه خواندن
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <i class="flaticon-insurance"></i>
                    <h3>بیمه تجارت</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                    <a href="services-details.html" class="read-more">
                        ادامه خواندن
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <i class="flaticon-property-insurance"></i>
                    <h3>بیمه املاک</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                    <a href="services-details.html" class="read-more">
                        ادامه خواندن
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <i class="flaticon-travel-insurance"></i>
                    <h3>بیمه مسافرتی</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                    <a href="services-details.html" class="read-more">
                        ادامه خواندن
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <i class="flaticon-car-insurance"></i>
                    <h3>بیمه اتومبیل</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                    <a href="services-details.html" class="read-more">
                        ادامه خواندن
                    </a>
                </div>
            </div>
            <div class="col-12">
                <a href="services.html" class="default-btn">
                    مشاهده بیشتر
                </a>
            </div>
        </div>
    </div>
</section>
