<section class="future-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>آینده ها</span>
            <h2>آینده بهتری امروز آغاز می شود</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-future-box">
                    <i class="flaticon-trustworthy"></i>
                    <h3>شرکت قابل اعتماد</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-future-box">
                    <i class="flaticon-saving"></i>
                    <h3>حمایت از درآمد</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-future-box">
                    <i class="flaticon-cross"></i>
                    <h3>هر زمان لغو</h3>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد.</p>
                </div>
            </div>
        </div>
    </div>
</section>
