{% load static %}


    <section class="team-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span class="top-title">نماینده ما</span>
                <h2>با نمایندگان خبره ما آشنا شوید</h2>
            </div>
            <div class="team-slider owl-carousel owl-theme">
                <div class="single-team">
                    <div class="team-img">
                        <img src="{% static 'perry/img/team/team-1.jpg' %}" alt="Image">
                        <ul class="team-link">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>توماس برند</h3>
                        <span>مدیریت</span>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="{% static 'perry/img/team/team-2.jpg' %}" alt="Image">
                        <ul class="team-link">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>توماس برند</h3>
                        <span>مدیریت</span>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="{% static 'perry/img/team/team-3.jpg' %}" alt="Image">
                        <ul class="team-link">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>توماس برند</h3>
                        <span>مدیریت</span>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="{% static 'perry/img/team/team-4.jpg' %}" alt="Image">
                        <ul class="team-link">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>توماس برند</h3>
                        <span>مدیریت</span>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="{% static 'perry/img/team/team-5.jpg' %}" alt="Image">
                        <ul class="team-link">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>توماس برند</h3>
                        <span>مدیریت</span>
                    </div>
                </div>
                <div class="single-team">
                    <div class="team-img">
                        <img src="{% static 'perry/img/team/team-6.jpg' %}" alt="Image">
                        <ul class="team-link">
                            <li>
                                <a href="#">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-pinterest-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3>توماس برند</h3>
                        <span>مدیریت</span>
                    </div>
                </div>
            </div>
        </div>
    </section>