{% load static %}

<section class="testimonials-area testimonials-area-three pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>بازخورد ما</span>
            <h2>اعضای ما چه می گویند</h2>
        </div>
        <div class="testimonials">
            <div class="testimonials-slider-three owl-carousel owl-theme">
                <div class="testimonials-item">
                    <img src="{% static 'perry/img/testimonials/testimonials-1.jpg' %}" alt="Image">
                    <p>“لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم
                        ساختار چاپ و متن را در بر می گیرد.” <i class="flaticon-right-quote"></i></p>
                    <h3>تامی کینگ</h3>
                    <span>موسس</span>
                </div>
                <div class="testimonials-item">
                    <img src="{% static 'perry/img/testimonials/testimonials-2.jpg' %}" alt="Image">
                    <p>“لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم
                        ساختار چاپ و متن را در بر می گیرد.” <i class="flaticon-right-quote"></i></p>
                    <h3>تامی کینگ</h3>
                    <span>موسس</span>
                </div>
                <div class="testimonials-item">
                    <img src="{% static 'perry/img/testimonials/testimonials-3.jpg' %}" alt="Image">
                    <p>“لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم ایپسوم
                        ساختار چاپ و متن را در بر می گیرد.” <i class="flaticon-right-quote"></i></p>
                    <h3>تامی کینگ</h3>
                    <span>موسس</span>
                </div>
            </div>
        </div>
    </div>
</section>
