{% load static %}

<section class="why-chose-us-area bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="choose-us-content ptb-100">
                    <span class="top-title">چرا ما را انتخاب کنید</span>
                    <h2>ما شرکت برنده جایزه هستیم</h2>
                    <p>لورم ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است. لورم
                        ایپسوم ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class="flaticon-tick"></i>
                            25 سال تجربه
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            پس انداز می کنید
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            یک برنامه سریع و آسان
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            پشتیبانی 24/7
                        </li>
                        <li>
                            <i class="flaticon-tick"></i>
                            در حال رشد تجارت
                        </li>
                    </ul>
                    <a href="#" class="default-btn">
                        بیشتر بدانید
                    </a>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="why-choose-slider-content">
                    <div class="why-choose-us-slider owl-carousel owl-theme">
                        <div class="why-choose-us-img bg-1">
                        </div>
                        <div class="why-choose-us-img bg-2">
                        </div>
                        <div class="why-choose-us-img bg-3">
                        </div>
                    </div>
                    <div class="success">
                        <span>٪100</span>
                        <h3>میزان موفقیت</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

